build/
tags

# Compiled Object files, Static and Dynamic libs (Shared Objects)
.deps
*~
*.o
*.a
*.so
*.la
*.lo
.libs
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
Makefile
Makefile.in
stamp-h1